title: "Idea Tree"
description: "A digital consultancy helping businesses grow through strategy, design, and technology."
url: "https://neiljohnson1306.github.io"
baseurl: "/ideatree"
permalink: pretty
theme: jekyll-theme-primer

# jekyll-seo-tag expects a string for site.logo
logo: "/images/logo/logo.svg"

logo_variants:
  mobile: "/images/logo/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "/images/logo/logo.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home:
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compressed

plugins:
  - jekyll-seo-tag
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/
  - README.md
